<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 10.0.0 (https://git.llvm.org/git/clang.git 65acf43270ea2894dffa0d0b292b92402f80c8cb) (https://git.llvm.org/git/llvm.git 2c4ca6832fa6b306ee6a7010bfb80a3f2596f824)</string>
 <key>diagnostics</key>
 <array>
 </array>
 <key>files</key>
 <array>
 </array>
</dict>
</plist>
